# Feature Development 

Re-doing the feature cleaning and feature engineering because of errors in the first experiment, in order to improve the performance of the Machine Learning Classification model

In [1]:
# import the libraries 

import pandas as pd 
import numpy as np
import os

In [4]:
# loading the data 

df_train = pd.read_csv('ML_Artivatic_dataset/train_indessa.csv')
df_test = pd.read_csv('ML_Artivatic_dataset/test_indessa.csv')

# All Available Columns: 'member_id', 'loan_amnt', 'funded_amnt', 'addr_state', 'sub_grade', 'term', 'batch_enrolled', 'desc', 'grade', 'emp_length', 'int_rate', 'pymnt_plan', 'initial_list_status', 'home_ownership', 'annual_inc', 'verification_status', 'purpose', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'application_type', 'verification_status_joint', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'last_week_pay', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim', 'loan_status
df_train = df_train[['member_id', 'loan_amnt', 'funded_amnt', 'addr_state', 'funded_amnt_inv', 'sub_grade', 'term', 'emp_length', 'int_rate', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'last_week_pay', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim', 'loan_status']]
df_test = df_test[['member_id', 'loan_amnt', 'funded_amnt', 'addr_state', 'funded_amnt_inv', 'sub_grade', 'term', 'emp_length', 'int_rate', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'last_week_pay', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim']]

## Data Cleaning and label encoding 

Manual cleaning and encoding labels to prevent errors from creeping in

<b> Encoding the labels </b>

In [6]:
# Term 
df_train['term'].replace(to_replace=' months', value='', regex=True, inplace=True)
df_test['term'].replace(to_replace=' months', value='', regex=True, inplace=True)
df_train['term'] = pd.to_numeric(df_train['term'], errors='coerce')
df_test['term'] = pd.to_numeric(df_test['term'], errors='coerce')

In [8]:
# Encodfng emp_length 

df_train['emp_length'].replace('n/a', '0', inplace=True)
df_train['emp_length'].replace(to_replace='\+ years', value='', regex=True, inplace=True)
df_train['emp_length'].replace(to_replace=' years', value='', regex=True, inplace=True)
df_train['emp_length'].replace(to_replace='< 1 year', value='0', regex=True, inplace=True)
df_train['emp_length'].replace(to_replace=' year', value='', regex=True, inplace=True)

df_test['emp_length'].replace('n/a', '0', inplace=True)
df_test['emp_length'].replace(to_replace='\+ years', value='', regex=True, inplace=True)
df_test['emp_length'].replace(to_replace=' years', value='', regex=True, inplace=True)
df_test['emp_length'].replace(to_replace='< 1 year', value='0', regex=True, inplace=True)
df_test['emp_length'].replace(to_replace=' year', value='', regex=True, inplace=True)

df_train['emp_length'] = pd.to_numeric(df_train['emp_length'], errors='coerce')
df_test['emp_length'] = pd.to_numeric(df_test['emp_length'], errors='coerce')

In [9]:
# Encoding Last Week Pay 

df_train['last_week_pay'].replace(to_replace='th week', value='', regex=True, inplace=True)
df_test['last_week_pay'].replace(to_replace='th week', value='', regex=True, inplace=True)

df_train['last_week_pay'].replace(to_replace='NA', value='', regex=True, inplace=True)
df_test['last_week_pay'].replace(to_replace='NA', value='', regex=True, inplace=True)

df_train['last_week_pay'] = pd.to_numeric(df_train['last_week_pay'], errors='coerce')
df_test['last_week_pay'] = pd.to_numeric(df_test['last_week_pay'], errors='coerce')

In [11]:
# Encoding Sub Grade 

df_train['sub_grade'].replace(to_replace='A', value='0', regex=True, inplace=True)
df_train['sub_grade'].replace(to_replace='B', value='1', regex=True, inplace=True)
df_train['sub_grade'].replace(to_replace='C', value='2', regex=True, inplace=True)
df_train['sub_grade'].replace(to_replace='D', value='3', regex=True, inplace=True)
df_train['sub_grade'].replace(to_replace='E', value='4', regex=True, inplace=True)
df_train['sub_grade'].replace(to_replace='F', value='5', regex=True, inplace=True)
df_train['sub_grade'].replace(to_replace='G', value='6', regex=True, inplace=True)

df_test['sub_grade'].replace(to_replace='A', value='0', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='B', value='1', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='C', value='2', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='D', value='3', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='E', value='4', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='F', value='5', regex=True, inplace=True)
df_test['sub_grade'].replace(to_replace='G', value='6', regex=True, inplace=True)


df_train['sub_grade'] = pd.to_numeric(df_train['sub_grade'], errors='coerce')
df_test['sub_grade'] = pd.to_numeric(df_test['sub_grade'], errors='coerce')

<b> Handling the missing values </b>

In [12]:
cols = ['term', 'loan_amnt', 'funded_amnt', 'last_week_pay', 'int_rate', 'sub_grade', 'annual_inc', 'dti', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'revol_bal', 'revol_util', 'total_acc', 'total_rec_int', 'mths_since_last_major_derog', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim', 'emp_length']

#  median based replacement of missing values 
for col in cols:
    print('Imputation with Median: %s' % (col))
    df_train[col].fillna(df_train[col].median(), inplace=True)
    df_test[col].fillna(df_test[col].median(), inplace=True)

# replacing the missing values with 0 
cols = ['acc_now_delinq', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'collections_12_mths_ex_med']
for col in cols:
    print('Imputation with Zero: %s' % (col))
    df_train[col].fillna(0, inplace=True)
    df_test[col].fillna(0, inplace=True)

Imputation with Median: term
Imputation with Median: loan_amnt
Imputation with Median: funded_amnt
Imputation with Median: last_week_pay
Imputation with Median: int_rate
Imputation with Median: sub_grade
Imputation with Median: annual_inc
Imputation with Median: dti
Imputation with Median: mths_since_last_delinq
Imputation with Median: mths_since_last_record
Imputation with Median: open_acc
Imputation with Median: revol_bal
Imputation with Median: revol_util
Imputation with Median: total_acc
Imputation with Median: total_rec_int
Imputation with Median: mths_since_last_major_derog
Imputation with Median: tot_coll_amt
Imputation with Median: tot_cur_bal
Imputation with Median: total_rev_hi_lim
Imputation with Median: emp_length
Imputation with Zero: acc_now_delinq
Imputation with Zero: total_rec_late_fee
Imputation with Zero: recoveries
Imputation with Zero: collection_recovery_fee
Imputation with Zero: collections_12_mths_ex_med

## Feature Engineering

Generating the same features we did in the previous iterration

In [13]:

test_member_id = pd.DataFrame(df_test['member_id'])

target_train = pd.DataFrame(df_train['loan_status'])

selected_cols = ['member_id', 'emp_length', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'sub_grade', 'int_rate', 'annual_inc', 'dti', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'revol_bal', 'revol_util', 'total_acc', 'total_rec_int', 'total_rec_late_fee', 'mths_since_last_major_derog', 'last_week_pay', 'tot_cur_bal', 'total_rev_hi_lim', 'tot_coll_amt', 'recoveries', 'collection_recovery_fee', 'term', 'acc_now_delinq', 'collections_12_mths_ex_med']

final_train = df_train[selected_cols]
final_test = df_test[selected_cols]

# How big the loan a person has taken with respect to his earnings, annual income to loan amount ratio
final_train['loan_to_income'] = final_train['annual_inc']/final_train['funded_amnt_inv']
final_test['loan_to_income'] = final_test['annual_inc']/final_test['funded_amnt_inv']


# All these attributes indicate that the repayment was not all hunky-dory. All the amounts caclulated are ratios 
# like, recovery to the loan amount. This column gives a magnitude of how much the repayment has gone off course 
# in terms of ratios.
final_train['bad_state'] = final_train['acc_now_delinq'] + (final_train['total_rec_late_fee']/final_train['funded_amnt_inv']) + (final_train['recoveries']/final_train['funded_amnt_inv']) + (final_train['collection_recovery_fee']/final_train['funded_amnt_inv']) + (final_train['collections_12_mths_ex_med']/final_train['funded_amnt_inv'])
final_test['bad_state'] = final_test['acc_now_delinq'] + (final_test['total_rec_late_fee']/final_test['funded_amnt_inv']) + (final_test['recoveries']/final_test['funded_amnt_inv']) + (final_test['collection_recovery_fee']/final_test['funded_amnt_inv']) + (final_train['collections_12_mths_ex_med']/final_test['funded_amnt_inv'])

# For the sake of this model, I have used just a boolean flag if things had gone bad, with this case I didn't see
# a benifit of including above computations
final_train.loc[final_train['bad_state'] > 0, 'bad_state'] = 1
final_test.loc[final_test['bad_state'] > 0, 'bad_state'] = 1


# Total number of available/unused 'credit lines'
final_train['avl_lines'] = final_train['total_acc'] - final_train['open_acc']
final_test['avl_lines'] = final_test['total_acc'] - final_test['open_acc']


# Interest paid so far
final_train['int_paid'] = final_train['total_rec_int'] + final_train['total_rec_late_fee']
final_test['int_paid'] = final_test['total_rec_int'] + final_test['total_rec_late_fee']


# Calculating EMIs paid (in terms of percent)
final_train['emi_paid_progress_perc'] = ((final_train['last_week_pay']/(final_train['term']/12*52+1))*100)
final_test['emi_paid_progress_perc'] = ((final_test['last_week_pay']/(final_test['term']/12*52+1))*100)


# Calculating total repayments received so far, in terms of EMI or recoveries after charge off
final_train['total_repayment_progress'] = ((final_train['last_week_pay']/(final_train['term']/12*52+1))*100) + ((final_train['recoveries']/final_train['funded_amnt_inv']) * 100)
final_test['total_repayment_progress'] = ((final_test['last_week_pay']/(final_test['term']/12*52+1))*100) + ((final_test['recoveries']/final_test['funded_amnt_inv']) * 100)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
final_train

        member_id  emp_length  ...  emi_paid_progress_perc  total_repayment_progress
0        58189336         9.0  ...               16.560510                 16.560510
1        70011223         0.0  ...                5.732484                  5.732484
2        70255675         2.0  ...                5.732484                  5.732484
3         1893936        10.0  ...               85.987261                 85.987261
4         7652106        10.0  ...               61.146497                 61.146497
...           ...         ...  ...                     ...                       ...
532423   31296187        10.0  ...               41.401274                 41.401274
532424   29403184        10.0  ...               26.819923                 26.819923
532425    7357607         8.0  ...                3.448276                  3.448276
532426   23182668         1.0  ...               29.885057                 29.885057
532427   46122259         0.0  ...               28.025478                 28.025478

[532428 rows x 33 columns]

## Saving the dataset

In [16]:
final_train.to_csv('ML_Artivatic_dataset/finalTrain.csv', index=False)
final_test.to_csv('ML_Artivatic_dataset/finalTest.csv', index=False)
target_train.to_csv('ML_Artivatic_dataset/target_train.csv', index=False)
test_member_id.to_csv('ML_Artivatic_dataset/test_member_id.csv', index=False)